
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite3


.venv/
venv/
ENV/


.env
.env.*

node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/


.DS_Store
Thumbs.db
.idea/
.vscode/


instance/
*.log
